* {
  margin: 0%;
  padding: 0%;
}

body .main {
  margin-left: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

body .main .panel {
  margin-top: 9rem;
  height: 51rem;
  width: 55rem;
  background: #d7e3fc;
  border-radius: 14px;
  -webkit-box-shadow: 0 8px 8px -4px lightblue;
          box-shadow: 0 8px 8px -4px lightblue;
}

body .main .panel form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
}

body .main .panel form .drop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 13px;
}

body .main .panel form .drop select {
  border: none;
  outline: none;
  border: 2px solid white;
  padding: 5px;
  width: 14rem;
  font-size: 1rem;
  background-color: white;
  border-radius: 4px;
}

body .main .panel form .details {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  padding: 2rem;
  grid-row-gap: 1.5rem;
  grid-column-gap: 4rem;
}

body .main .panel form .details label {
  font-weight: 600;
  padding: 10px 0px;
  font-size: 1em;
}

body .main .panel form .details input {
  --webkit-appearance: none;
  width: 100%;
  max-width: 425px;
  padding: 0.7em;
  font-size: 0.9em;
  outline: none;
  border: 2px solid white;
  border-radius: 4px;
  background: #f9f9f9;
  -webkit-transition: background 0.25s, border-color 0.25s, color 0.25s;
  transition: background 0.25s, border-color 0.25s, color 0.25s;
}

body .main .panel form label {
  font-weight: 500;
  padding: 10px 0px;
  font-size: 1.3em;
}

body .main .panel form textarea {
  font-size: 0.8rem;
  letter-spacing: 1px;
}

body .main .panel form textarea {
  padding: 10px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid white;
  -webkit-box-shadow: 1px 1px 1px #999;
          box-shadow: 1px 1px 1px #999;
}

body .main .panel form #sbtn {
  height: 2.2rem;
  width: 7rem;
  background-color: black;
  border: none;
  outline: none;
  border-radius: 12px;
  cursor: pointer;
  color: white;
}

body .main img {
  height: 2.5rem;
  width: 2.5rem;
  position: absolute;
  top: 10%;
  left: 10%;
  cursor: pointer;
}
/*# sourceMappingURL=Addpandit.css.map */