* {
  margin: 0%;
  padding: 0%;
}

body {
  .nav {
    height: 4.3rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    background: white;
    box-shadow: 0 7px 6px -8px #777;
    position: fixed;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

    h2 {
      position: absolute;
      left: 45%;
    }
    img {
      height: 2.3rem;
      width: 2.3rem;
      margin-right: 1.5rem;
      cursor: pointer;
    }
    .logo {
      height: 3.5rem;
      width: 3.5rem;
      position: absolute;
      left: 2rem;
    }
  }

  .popup {
    display: none;
    margin-top: 1rem;
    margin-right: 4rem;
    height: 32rem;
    width: 40rem;
    background: white;
    border-radius: 12px;
    float: right;
    border: solid 1px black;
    z-index: 2;
    position: fixed;
    right: 0;

    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      outline: none;
      border: solid 2px black;
      background: white;
      border-radius: 12px;
      padding: 3px;
      cursor: pointer;
    }
    .sbtn {
      cursor: pointer;
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      // background-color: black;
      img {
        height: 9rem;
        width: 9rem;
      }
      #phone,
      #email,
      #password {
        border: none;
        outline: none;
        border-bottom: 2px solid black;
        padding: 10px;
        font-size: 1rem;
        // border-radius: 10px;
        width: 70%;
        background-color: white;
      }
      .formitem {
        padding: 3px;

        input {
          border: none;
          outline: none;
          border-bottom: 2px solid black;
          padding: 10px;
          font-size: 1rem;
          background-color: white;
          // border-radius: 10px;
        }
      }
      .sbtn {
        outline: none;
        width: 6rem;
        height: 2rem;
        border: 2px solid black;
        border-radius: 12px;
        background-color: white;
      }
    }
  }

  .sidebar {
    position: fixed;
    // left: -250px;
    margin-top: 4.3rem;
    width: 250px;
    height: 100%;
    overflow: none;
    z-index: 1;
    background: #042331;
    // button
    #dropdown {
      background: #042331;
      display: block;
      height: 100%;
      width: 100%;
      line-height: 64px;
      font-size: 19px;
      color: white;
      cursor: pointer;

      border-bottom: 1px solid black;
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      transition: 0.4s;
      text-decoration: none;
      border-left: none;
      position: relative;
      img {
        height: 20px;
        width: 20px;
        position: absolute;
        right: 12px;
        top: 35%;
      }
    }
    #dcontainer {
      ul a {
        display: block;
        height: 100%;
        width: 100%;
        line-height: 65px;
        font-size: 20px;
        color: white;
        padding-left: 40px;
        box-sizing: border-box;
        border-bottom: 1px solid black;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        transition: 0.4s;
        text-decoration: none;
        background: #095c83;
      }
      ul li:hover a {
        padding-left: 50px;
      }
    }
    ul a {
      display: block;
      height: 100%;
      width: 100%;
      line-height: 65px;
      font-size: 20px;
      color: white;
      padding-left: 40px;
      box-sizing: border-box;
      border-bottom: 1px solid black;
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      transition: 0.4s;
      text-decoration: none;
    }
    ul li:hover a {
      padding-left: 50px;
    }
    #dcontainer {
      display: none;
    }
  }
}
